.start_marker, .end_marker {
    position: absolute;
    top: 0px;
/*    width: 5px;
    height: 18px;
    border: 3px solid red;*/
}

.start_marker {
    left: 0px;
    border-right: none;
}

.end_marker {
    left: 290px;
    /*border-left: none;*/
}

.start_marker, .end_marker {
    cursor: move;
}

/*.video-icon--crop:before {
    content: '\e80b';
}*/

.video {
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: Helvetica;
    background-color: red;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.video:focus {
    outline: thin dotted;
}

.video__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.video--focused .video__controls,
.video:hover .video__controls {
    opacity: 1;
}
.video-overlay__loader,
.video-overlay__play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-overlay__pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-overlay__loader .video-spinner,
.video-overlay__play .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 80px;
    margin-left: -40px;
    margin-top: -35px;
    font-size: 30px;
    border-radius: 0px;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.video-overlay__pic .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 80px;
    margin-left: -40px;
    margin-top: -35px;
    font-size: 30px;
    border-radius: 0px;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.video-overlay__pic {
    cursor: pointer;
}

.video-overlay__error {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.video-overlay__error-text {
    display: inline;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.7);
}

/*
 * Generated by the 'fontello-react' Grunt task.
 */
@font-face {
  font-family: 'crop-video-set';
  src: url('font/crop-video-set.eot?98512250');
  src: url('font/crop-video-set.eot?98512250#iefix') format('embedded-opentype'),
       url('font/crop-video-set.woff2?98512250') format('woff2'),
       url('font/crop-video-set.woff?98512250') format('woff'),
       url('font/crop-video-set.ttf?98512250') format('truetype'),
       url('font/crop-video-set.svg?98512250#crop-video-set') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?73179758#fontello') format('svg');
  }
}
*/

.video-icon:before {
    font-family: "crop-video-set";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.video-icon--play-1:before {
    content: '\E800';
}

.video-icon--volume-off:before {
    content: '\E801';
}

.video-icon--volume-down:before {
    content: '\E802';
}

.video-icon--volume-up:before {
    content: '\E803';
}

.video-icon--resize-full:before {
    content: '\E804';
}

.video-icon--resize-small:before {
    content: '\E805';
}

.video-icon--pause-1:before {
    content: '\E80B';
}

.video-icon--pic:before {
    content: '\E806';
}

/*.video-icon--crop:before { 
    content: '\e806';
}

.video-icon--crop-begin:before { 
    content: '[';
}

.video-icon--crop-end:before { 
    content: ']';
}
*/

/* Modified spinner from http://tobiasahlin.com/spinkit/ */
.video-spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.video-spinner > div {
    background-color: #fff;
    height: 100%;
    width: 4px;
    display: inline-block;
    margin-right: 3px;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.video-spinner .video-spinner__rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.video-spinner .video-spinner__rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.video-spinner .video-spinner__rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.video-spinner .video-spinner__rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
.video-progress-bar {
    position: relative;
}

.video-progress-bar--vertical {
    height: 100%;
    width: 4px;
}

.video-progress-bar--horizontal {
    width: 100%;
    /*height: 4px;*/
    height: 100%;
}

.video-progress-bar__fill {
    background-color: rgb(165, 165, 165);
    position: absolute;
    bottom: 0;
    left: 0;
}

.video-progress-bar--horizontal .video-progress-bar__fill {
    height: 100%;
}

.video-progress-bar--vertical .video-progress-bar__fill {
    width: 100%;
}

.video-progress-bar__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    opacity: 0;
}

.video-progress-bar--vertical .video-progress-bar__input {
    -webkit-appearance: slider-vertical;
}
.video-controls {
    height: 34px;
    background-color: rgba(0,0,0,0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.video-controls button {
    background: none;
    border: none;
    margin: 0;
    color: #fff;
}

.video__control {
    position: relative;
    padding: 10px;
    height: 100%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.video__control:hover {
}

.video__control--focused,
.video__control:focus,
.video-controls button:focus {
    /*outline: thin dotted;*/
}
.video-seek {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    position: relative;
    padding: 5px 0px;
}

.video-seek__container {
    position: relative;
    height: 100%;
    background: #3e3e3e;
    width: 100%;

    /*height: 4px;*/
    /*margin-top: 2px;*/
    /*margin-bottom: 2px;*/
    cursor: pointer;
}

.video-seek__buffer-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5a5a5a;
}
.video-play {
    cursor: pointer;
}

.video-play:hover{
    background-color: #1a1a1a;
}
.video-mute {
    cursor: pointer;
    padding: 0;
}

.video-mute:hover {
    background-color: #1a1a1a;
}

.video-mute__inner {
    padding: 10px;
}

.video-mute__volume {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 100%;
    width: 24px;
    height: 40px;
    padding-top: 8px;
    background-color: #1a1a1a;
    display: none;
}

.video-mute--focused .video-mute__volume,
.video-mute:hover .video-mute__volume {
    display: block;
}

.video-mute__track {
    position: relative;
    width: 4px;
    height: 100%;
    margin-left: 10px;
    background-color: #3e3e3e;
}


.video-crop {
    cursor: pointer;
    padding: 0;
}

.video-crop:hover {
    background-color: #1a1a1a;
}

.video-crop__inner {
    padding: 10px;
}

.video-crop__volume {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 100%;
    width: 24px;
    height: 40px;
    padding-top: 8px;
    background-color: #1a1a1a;
    display: none;
}

.video-crop--focused .video-crop__volume,
.video-crop:hover .video-crop__volume {
    display: block;
}

.video-fullscreen {
    cursor: pointer;
}

.video-fullscreen:hover {
    background-color: #1a1a1a;
}
.video-time {
    font-size: 11px;
    line-height: 16px;
}

.video-time__current {
    margin-right: 5px;
}

.video-time__duration {
    margin-left: 5px;
    color: #919191;
}


.video-icon--crop-begin:before, .video-icon--crop-end:before {
    /*font-size: .5em;*/
    /*width: 100%;*/
}

/*.video-icon--crop-begin:before { 
    content: 'Set start';
}

.video-icon--crop-end:before{ 
    content: 'Set finish';
}*/

.video-overlay__play .video-icon--crop-begin {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.video-overlay__play .video-icon--crop-end {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.video-overlay__play .video-icon--crop-begin {
    left: 30%;
}

.video-overlay__play .video-icon--crop-end {
    left: 70%;
}

.video-overlay__pic .video-icon--crop-begin {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.video-overlay__pic .video-icon--crop-end {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.video-overlay__pic .video-icon--crop-begin {
    left: 30%;
}

.video-overlay__pic .video-icon--crop-end {
    left: 70%;
}

.start_marker, .end_marker  {
        /*font-family: 'arrows';*/
        font-size: 22px;
        height: 24px;
        width: 10px;
        background-color: yellow;
        padding: auto;
        color: black;
        text-align: center;
    }


.video-play.video__control {
    padding: 2px 6px 3px;
}